<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<div th:fragment="secondReply">
    <div class="media" th:each="second :${secondReplyList}">
        <div class="media-left ">
            <a href="#">
                <img class="media-object img-thumbnail" style="width:64px;height:64px;"
                     src="/img/x.jpg">
            </a>
        </div>
        <div class="media-body">
            <div th:utext="${second.content}">二级评论</div>

            <div class="menu">
                   <span class="pull-right"
                         th:text="${#dates.format(second.gmtCreate,'yyyy-MM-dd')}"></span>

            </div>

        </div>
    </div>
</div>
</body>

<script type="text/javascript">

</script>
</html>