.text-des {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media-body {
    padding-top: 10px;
}

.menu {
    color: #999999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.comments
{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 15px;
    border-bottom:1px solid #eee;
    margin-bottom: 15px;
}

.question-tags{
    margin-right: 5px;
}