<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="comm/head::head('首页')">
</head>
<body style="background-color:#efefef;">
<div th:replace="comm/NavigationBar ::NavBar"></div>
<div class="container-fluid" style="margin:30px;background-color:white;">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div>
                <h3><span class="glyphicon glyphicon-list"></span>发现</h3>
                <ul class="nav nav-tabs ">
                    <li role="presentation" class="active"><a href="#">最新</a></li>
                    <li role="presentation"><a href="#">热门</a></li>
                    <li role="presentation"><a href="#">推荐</a></li>
                </ul>
            </div>
            <div th:each="item : ${list.list}" class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" style="width:64px;height:64px;" src="/img/x.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${item.title}"></h4>
                    <label class="text-des">
                        [[${item.username}]] ·
                        [[${item.view_count}]]人浏览·[[${item.like_count}]]人关注·发表于:[[${#dates.format(item.gmt_create*1000,'yyyy-MM-dd
                        HH:mm:ss')}]]
                    </label>
                </div>
            </div>
            <div th:replace="comm/pagination::pagination(${list},'/home')"></div>
        </div >

        <div class="col-lg-4 col-md-4">
            <h3>热门话题</h3>
            <hr>
            <ul>
                <li>话题1</li>
                <li>话题2</li>
                <li>话题3</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>