<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxc.community.dao.QcommentExtMapper">

    <sql id="BASE_TABLE">
        t_qcomments
    </sql>

    <update id="modifyLike">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET like_count=like_count+1
        WHERE
        cid=#{cid,jdbcType=BIGINT}
    </update>

    <update id="hitReplyCount">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET reply_count=reply_count+1
        WHERE
        cid=#{cid,jdbcType=BIGINT}
    </update>
</mapper>