<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxc.community.dao.TagsExtMapper">
    <sql id="BASE_TABLENAME">t_tags</sql>
<!--   mysql默认接受sql的大小是1048576(1M)，即第三种方式若数据量超过1M会报如下异常：
（可通过调整MySQL安装目录下的my.ini文件中[mysqld]段的＂max_allowed_packet = 1M＂）  -->
<insert id="insertBatch" useGeneratedKeys="true" keyProperty="tid" >
INSERT INTO
<include refid="BASE_TABLENAME" />
<trim prefix="(" suffix=")">
    tagName
</trim>
    VALUES
    <foreach collection="list" item="Tags"  separator =",">

        (#{Tags.tagname,jdbcType=VARCHAR})

    </foreach >
    ON DUPLICATE KEY UPDATE
    tagName = values(tagName)
</insert>
</mapper>